<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="API.js"></script>
</head>
<body>
    <div class="mb-3">
        <form>
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile imagem" accept=".jpg, .jpeg, .png">
            <button onclick="lerImagem()" type="button" >Enviar</button>
        </form>
    </div>
    
</body>
</html>