body{
    background-image: url('imagens/wallpaperflare.com_wallpaper\ \(2\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}
.info, table{
    font-size:x-large;
    
}
label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 tr{
    color: #ffffff;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }
 #container-pai{
    display: flex;
 }
 #container{
    display: flex;
 }
 #cadastro{
    padding: 100px;
 }
#botao-adicionar{
    width: 50px;
}
