body{ 
    background: linear-gradient(180deg, rgba(54, 239, 8, 0.2) 28.65%, rgba(255, 255, 255, 0.004) 100%);
}
.titulo{
    color: #27A508;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;

    text-align: center;
    letter-spacing: -0.015em;

     
}
.subtitulo{


/* Body P Large */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 50px;

text-align: center;
letter-spacing: -0.015em;

color: rgba(255, 11, 99, 0.65);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}