body{
    background: linear-gradient(180deg, rgba(19, 239, 8, 0.427) 28.65%, rgba(255, 255, 255, 0.004) 100%);
    text-align: center;
}
label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }
 